# Connecting to Data Dashboard

In [2]:
db_ip = "10.0.2.2"  #docker's localhost bridge IP is 10.0.2.2

Verify connectability to db (should see "Connected ..."):

In [3]:
!telnet {db_ip} 3306

Trying 10.0.2.2...
Connected to 10.0.2.2.
Escape character is '^]'.
J   
5.6.19 +   Zfo|DyU!  ï¿½          BeYl3XD+Jr~D mysql_native_password Connection closed by foreign host.

Define connection info (Be sure to verify that the DB actually exists):

In [4]:
connect_kwargs = {"host": db_ip, 
                  "port": 3306, 
                  "user": "root",
                  "passwd": "",
                  "db": "dd_new"}

Connect to the database:

In [5]:
import MySQLdb
conn = MySQLdb.connect(**connect_kwargs)

Define the simple SQL query and run the query into a Dictionary cursor:
Result is the number of rows selected.

In [6]:
sql = """SELECT * FROM ddapi_persistent
LIMIT 1000;"""

In [7]:
dict_curs = conn.cursor(MySQLdb.cursors.DictCursor)
dict_curs.execute(sql)

1000

Iterate over the data set. Each row goes into a separate dictionary. Columns are just keys for each dictionary.
Note that because of the `fetchall()`, you have to re-execute the SQL query in order to print items again.

In [8]:
num_rows_to_display = 10
i = 0
rows = dict_curs.fetchall()
for row in rows:
    i += 1
    if i > num_rows_to_display:
        break
    print(row)

{'created': datetime.datetime(2012, 9, 28, 13, 47, 29), 'hash': 'd0f9bec4175fa0cd8738bdac9b5aaad4', 'id': 1}
{'created': datetime.datetime(2012, 9, 28, 13, 54, 38), 'hash': 'eba9524b6f55ece61f537e5be6bca0a8', 'id': 2}
{'created': datetime.datetime(2012, 9, 28, 13, 57), 'hash': '028b64e0c4aa92242dee62618daa466d', 'id': 3}
{'created': datetime.datetime(2012, 9, 28, 13, 58, 58), 'hash': '420890de6d4502294404608684259c38', 'id': 4}
{'created': datetime.datetime(2012, 9, 28, 14, 0, 9), 'hash': '96e4f672259a43fb729b43f771185983', 'id': 5}
{'created': datetime.datetime(2012, 9, 28, 14, 2, 19), 'hash': '2ae0326e8c14225de2b289fb307ebc7b', 'id': 6}
{'created': datetime.datetime(2012, 9, 28, 14, 4, 39), 'hash': '2cfabc6619277e8a2fc7222d963d8636', 'id': 7}
{'created': datetime.datetime(2012, 9, 28, 14, 7, 55), 'hash': 'd42fce44339a6483c22a430a0a74709f', 'id': 8}
{'created': datetime.datetime(2012, 9, 28, 14, 8, 25), 'hash': '81728b805ec37c994ae2c5e596957bac', 'id': 9}
{'created': datetime.datetime(2012, 9, 28, 14, 11, 46), 'hash': '501d0e7a44484ebe0fd0d42c7d6811a4', 'id': 10}

**pandas** gives us dataframes are a lot easier to manipulate typically:

In [9]:
import pandas as pd

In [10]:
df = pd.read_sql(sql, conn)
df

       id                              hash             created
0       1  d0f9bec4175fa0cd8738bdac9b5aaad4 2012-09-28 13:47:29
1       2  eba9524b6f55ece61f537e5be6bca0a8 2012-09-28 13:54:38
2       3  028b64e0c4aa92242dee62618daa466d 2012-09-28 13:57:00
3       4  420890de6d4502294404608684259c38 2012-09-28 13:58:58
4       5  96e4f672259a43fb729b43f771185983 2012-09-28 14:00:09
5       6  2ae0326e8c14225de2b289fb307ebc7b 2012-09-28 14:02:19
6       7  2cfabc6619277e8a2fc7222d963d8636 2012-09-28 14:04:39
7       8  d42fce44339a6483c22a430a0a74709f 2012-09-28 14:07:55
8       9  81728b805ec37c994ae2c5e596957bac 2012-09-28 14:08:25
9      10  501d0e7a44484ebe0fd0d42c7d6811a4 2012-09-28 14:11:46
10     11  e33c9a422ccb7109947dd0b6fb5c2c32 2012-09-28 14:18:39
11     12  d477528bd345fc53dc13cdd43803ee7f 2012-09-28 14:22:10
12     13  4ce366ff081a634f7d6a60dae1d9fef4 2012-09-28 14:24:46
13     14  9ac6213199b9a2f6eff983bca20f6653 2012-09-28 14:24:59
14     15  21370c3080e97e4c5e643d31a57c4f79 2012-09-28 14:35:05
15     16  2271b8a8e9f8c81b13b3f45c67d856e0 2012-09-28 14:36:15
16     17  3c8d94f8693cec01d75c83624d55a39d 2012-09-28 14:38:05
17     18  bfb6cfca78fc593e983c50767f8730a5 2012-09-28 14:38:27
18     19  1a09f3cfbaef02f5dbf31573e3499d24 2012-09-28 14:40:12
19     20  39b967a72e5d36387afe117d83f9d4e9 2012-09-28 14:42:53
20     21  f75e7c6c7a63de50988f37cc253ee036 2012-09-28 14:44:19
21     22  0c13745b629031873ca9c24991128dfa 2012-09-28 14:44:33
22     23  01e4bf050e3894ca832aa578d2e05ed9 2012-09-28 14:51:00
23     24  b334cfecdc35dd918eb3c7e25348063f 2012-09-28 14:52:09
24     25  df4d6ff5f8deccdd977dc9b67bb0e1c0 2012-09-28 14:52:55
25     26  5be456400314ce124fcbba1aca7d8298 2012-09-28 14:59:54
26     27  70c82ab432a8bb69d7fb67dc87b7524d 2012-09-28 15:02:10
27     28  1954fa183589f1036be4ac8e8ba801cd 2012-09-28 15:02:14
28     29  923697ed4b75e47d6052ca526f9347c1 2012-09-28 15:14:08
29     30  d8589961e366ef46036ba4ac80a4ac3c 2012-09-28 15:18:48
..    ...                               ...                 ...
970   971  9fe1ea43d816a075d2ef17a38cb8db5d 2012-10-03 06:50:07
971   972  958e197fee78b2289ef0d3ac640f2c89 2012-10-03 08:00:50
972   973  558da89d1d4242d89125d238afb2fe9d 2012-10-03 08:19:03
973   974  a6c76e17c9b74224e3453d8abe94f5a2 2012-10-03 08:26:51
974   975  38c39b01d02642f43219208d18cd0bea 2012-10-03 08:26:54
975   976  7d19817738dbc858340e241cd123a465 2012-10-03 08:43:00
976   977  f857ad64b92d0d433d4a49770645b308 2012-10-03 08:51:46
977   978  b7f0305675fe51d0e7c4a306eb411103 2012-10-03 09:44:35
978   979  3971e1e159fca8a0e11a43ddd3e134ac 2012-10-03 09:53:25
979   980  93371255a45511f8a9f02e95e3a46dc4 2012-10-03 10:13:38
980   981  0d058e5f728751dc9f6a72d5828e2cf7 2012-10-03 11:04:22
981   982  e8e9d1a621c8631554ab4d4d536accbf 2012-10-03 11:16:43
982   983  9ca266817ad8c33f4272825c6e994002 2012-10-03 11:55:27
983   984  7741d92a90433dc640b863d07244221e 2012-10-03 12:01:58
984   985  766164f9b068603e390e0e3165c96d7c 2012-10-03 12:13:11
985   986  2996c08973fa9aa99872083070156b8f 2012-10-03 12:14:14
986   987  85c91640310a806d2a21ad4bfe3ea7a7 2012-10-03 12:43:11
987   988  67d0a0ac03f8f117454b2524beb4d406 2012-10-03 12:46:55
988   989  337115e7b1b5f15d1d4f7261d7f4f58e 2012-10-03 12:49:08
989   990  e623ee1431fa431b65985b87dfb84e3e 2012-10-03 12:56:57
990   991  5498e5fe70af5e5812fd432b32a882a7 2012-10-03 13:01:44
991   992  3f2fc1d5ef19898dc6540f9cdf56a4f3 2012-10-03 13:10:28
992   993  cc2551bc2143b9ed2245768aac6b3e87 2012-10-03 13:12:10
993   994  a18c25280394e25a29d78d1c214483dd 2012-10-03 13:13:19
994   995  ca91c3f5532fb7e274c8bb2736f12493 2012-10-03 13:15:57
995   996  4a8ecae629d3cd0bfa04086bed06ca90 2012-10-03 13:30:09
996   997  719aec4cc54b8b4bf333a835b3054aa6 2012-10-03 13:32:33
997   998  3b0154c5c6adcab8235e28351e12c98c 2012-10-03 13:33:25
998   999  a778f81052629c2605fd3c6a4d61cbbf 2012-10-03 13:48:38
999  1000  399bff06d0312eecc33ae91a834719b6 2012-10-03 13:48:38

[1000 rows x 3 columns]

Now save the dataframe to CSV in this directory...

In [11]:
file_out = "persistent.csv"

In [12]:
df.to_csv(file_out)

...and to the adjacent [R directory](../r/) so we can [analyze the data in r](../r/using-r.ipynb).

In [13]:
!cp {file_out} ../r/.